h1, .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body{
    background-color: #DDCD9D;
}

.img-logo {
    height: 30%;
    margin-top: 6.5%;
    margin-left: 6.5%;
    border-radius: 25%;
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    border-radius: 25px;
    border: solid black 2.5px;
    /* background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover; */
}

nav{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr;
}

.Noelles_beskrivning{
    background-image: url('./img/Skärmbild-2025-02-14-134642.webp');
    background-size: cover;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 5fr 5fr;
    margin-top: 10%;
    border-radius: 25px;
}

h1{
    text-align: center;
    margin-right: 10%;
    font-size: 500%;
}

.header_image_background{
    background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover;
}