h1,
.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.belleza-regular {
    font-family: "Belleza", serif;
    font-weight: 550;
    font-style: normal;
}

h2{
    font-size: 200%;
}

.transparent-div{
    background-color: #DDCD9D;
    opacity:0.5;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;    

}

body {
    background-color: #DDCD9D;
}

.img-logo {
    height: 30%;
    margin-top: 6.5%;
    margin-left: 6.5%;
    border-radius: 25%;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    height: 30vh;
    border-radius: 25px;
    border: solid black 2.5px;
    /* background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover; */
}

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    margin-top: 1%;
}

.Noelles_beskrivning {
    background-image: url('./img/Skärmbild-2025-02-14-134642.webp');
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    border: solid black 2px;
    /* margin-left: 1%; */
    margin-right: 1%;

}

.Noelles_varuhus{
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-left: 1%;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Rubrik_varuhus{
    text-align: center;
}

.Varuhus_logos{
    width: 60%;
    margin-left: 15%;
    /* height: 50%; */

}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 65vh 65vh 65vh; */
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    /* display: flex;
    flex-direction: row; */
    /* max-width: max-content; */
}

.Produkt-lådor{
    display: flex;
    flex-direction: column;
    background-color: #f0f0ed;
    align-items: center;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;

    /* background-color: white; */
}

.Produkt-bilder{
    max-width: fit-content;
    max-height: fit-content;
    /* align-items: center; */
}

.Produkt-namn{
    text-align: center;
}

.Produkt-pris{
    /* display: flex;
    flex-direction: column; */
    margin-right: 10%;
}

.Produkt-varukorg{
    display: flex;
    justify-content: flex-end;
    background-color: #D9D9D9;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;    
}

h1 {
    text-align: center;
    margin-right: 10%;
    font-size: 500%;
}


.header_image_background {
    background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-position: center;
    object-fit: cover;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}