h1,
.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.belleza-regular {
    font-family: "Belleza", serif;
    font-weight: 550;
    font-style: normal;
}

h2{
    font-size: 200%;
}

.transparent-div{
    background-color: #DDCD9D;
    opacity:0.50;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;

}

body {
    background-color: #DDCD9D;
}

.img-logo {
    height: 30%;
    margin-top: 6.5%;
    margin-left: 6.5%;
    border-radius: 25%;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    height: 30vh;
    border-radius: 25px;
    border: solid black 2.5px;
    /* background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover; */
}

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    margin-top: 1%;
}

.Noelles_beskrivning {
    background-image: url('./img/Skärmbild-2025-02-14-134642.webp');
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    border: solid black 2px;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 5fr 5fr;
    margin-top: 5%;
    border-radius: 25px;
}

h1 {
    text-align: center;
    margin-right: 10%;
    font-size: 500%;
}

.header_image_background {
    background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover;
}