h1,
.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.belleza-regular {
    font-family: "Belleza", serif;
    font-weight: 550;
    font-style: normal;
}

h2 {
    font-size: 200%;
}

.transparent-div {
    /* background-color: #DDCD9D; */
    background-color: rgba(221, 205, 157, 0.5);
    /* Samma färg som #DDCD9D men med 50% transparens */
    /* opacity: 0.5; */
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-color: #DDCD9D;
}

.img-logo {
    height: 30%;
    margin-top: 6.5%;
    margin-left: 6.5%;
    border-radius: 25%;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    height: 30vh;
    border-radius: 25px;
    border: solid black 2.5px;
    height: 30vh;
    /* Behåll denna */
    min-height: 150px;
    /* Lägg till en minsta höjd */
    overflow: hidden;
    /* background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-size: cover; */
}

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    margin-top: 1%;
}

.Noelles_beskrivning {
    background-image: url('./img/Skärmbild-2025-02-14-134642.webp');
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    border: solid black 2px;
    /* margin-left: 1%; */
    margin-right: 1%;
    display: flex;
    align-items: center;
}

.Noelles_varuhus {
    background-color: #D9D9D9;
    border-radius: 15px;
    /* margin-left: 1%; */
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Rubrik_varuhus {
    text-align: center;
}

.Varuhus_logos {
    width: 60%;
    margin-left: 15%;
    /* height: 50%; */

}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 65vh 65vh 65vh; */
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    gap: 10px;
    /* display: flex;
    flex-direction: row; */
    /* max-width: max-content; */
}

.Produkt-lådor {
    display: flex;
    flex-direction: column;
    background-color: #f0f0ed;
    align-items: center;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
    /* background-color: white; */
}

.Produkt-bilder {
    width: fit-content;
    height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    /* align-items: center; */
}

#Kompressionbyxor-id {
    width: fit-content;
    height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 5%;
}

#Överdragsbyxor-id {
    height: 72.5%;
}

#Grå_tjockbyxor-id {
    height: 80%;
    width: 70%;
    align-self: center;
    /* max-width: fit-content; */
    /* position: relative; */
    margin-left: 15%;
    max-height: fit-content;

}

.Produkt-namn {
    text-align: center;
}

.Produkt-pris {
    /* display: flex;
    flex-direction: column; */
    margin-right: 10%;
}

.Produkt-varukorg {
    display: flex;
    justify-content: flex-end;
    background-color: #D9D9D9;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* border: #f0f0ed;  */
}


h1 {
    text-align: center;
    margin-right: 10%;
    font-size: 500%;
}


.header_image_background {
    background-image: url('./img/Northern-Lights-above-Rovaniemi-in-Lapland-Finland-Visit-Rovaniemi-SamuliRosenberg-2-800x534.webp');
    background-position: center;
    object-fit: cover;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.Kundvagn-rubrik {
    text-align: center;
}

.Kundvagn-låda {
    background-color: #D9D9D9;
    border-radius: 25px;
}

footer {
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 25px;
}

@media screen and (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 3fr;
        margin-top: 1%;
    }

    .Noelles_varuhus {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        max-width: 100%;
        justify-content: center;
        overflow-x: hidden;
    }

    nav {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin-top: 1%;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Noelles_varuhus {
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        margin-right: 1%;
    }

    .img-logo {
        height: 30%;
        margin: 6px;
        /* margin-bottom: 38%; */
        max-height: fit-content;
        max-width: fit-content;
    }

    h1 {
        margin-right: 2%;
    }

    .Produkt-lådor {
        display: flex;
        flex-direction: column;
        background-color: #f0f0ed;
        align-items: center;
        border-radius: 25px;
        margin-left: 2%;
        margin-right: 2%;
        overflow: hidden;
        /* Viktigt för att behålla border-radius */
    }

    .transparent-div {
       margin-top: 2%;
       margin-bottom: 2%;
    }
}